.sfondo-main-app {
    -fx-background-color: rgba(227, 211, 114, 0.85);
}

.titolo-main {
    -fx-font-size: 50;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-font-family: "Arial Black";

    -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.slogan-main {
    -fx-font-size: 17;
    -fx-font-weight: bold;
    -fx-alignment: center;

    -fx-effect: dropshadow( one-pass-box , black , 2 , 0.0 , 0.1 , 0 );
}

.bottone-menu-crea {
    -fx-background-radius: 25px;
    -fx-background-color: rgba(227, 211, 114, 0.85);

    -fx-border-radius: 25px;
    -fx-border-color: #cc7722;
    -fx-border-width: 5px;

    /* testo dentro bottone */
    -fx-text-fill: #cc7722;
    -fx-font-weight: bold;
    -fx-font-family: "Arial Black";
}

.bottone-menu-crea:hover {
    -fx-background-color: #34f634;
    -fx-border-color: #005000;
    -fx-text-fill: #005000;
}

.bottone-menu-crea:pressed{
    -fx-background-color: #025e02;
    -fx-border-color: #005000;
    -fx-text-fill: #005000;
}


