.background {
    -fx-background-color: rgba(218, 201, 77, 0.85);
    -fx-border-width: 2px;
    -fx-border-color: #cc7722;

    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 5.0, 5.0);
}

.title-todo {
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-font-family: "Arial Black";

    -fx-effect: dropshadow( one-pass-box , black , 3 , 0.0 , 2 , 0 );
}

.secondary-text-todo {
    -fx-font-size: 10;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-font-family: "Arial Black";
}